[Unit]
Description=Firmus Linux TCR Repository Sync
Documentation=https://github.com/firmuslinux/firmuslinux
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Sy
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
